OJogo/.vscode/
OJogo/.vs/
OJogo/Binaries/
OJogo/Build/
OJogo/DerivedDataCache/
OJogo/Download/
OJogo/Intermediate/
OJogo/Saved/
OJogo/Script/
OJogo/.ignore
OJogo/OJogo.code-workspace
OJogo/OJogo.sln
OJogo/win32/
OJogo/Plugins/